<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="grouByColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="grouByColumns">
            <config key="InclList">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="movieId"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="29"/>
                <entry key="0" type="xstring" value="color"/>
                <entry key="1" type="xstring" value="Count(movie_title)"/>
                <entry key="2" type="xstring" value="color (right)"/>
                <entry key="3" type="xstring" value="num_critic_for_reviews"/>
                <entry key="4" type="xstring" value="duration"/>
                <entry key="5" type="xstring" value="director_facebook_likes"/>
                <entry key="6" type="xstring" value="actor_3_facebook_likes"/>
                <entry key="7" type="xstring" value="actor_1_facebook_likes"/>
                <entry key="8" type="xstring" value="gross"/>
                <entry key="9" type="xstring" value="genres"/>
                <entry key="10" type="xstring" value="movie_title"/>
                <entry key="11" type="xstring" value="num_voted_users"/>
                <entry key="12" type="xstring" value="cast_total_facebook_likes"/>
                <entry key="13" type="xstring" value="facenumber_in_poster"/>
                <entry key="14" type="xstring" value="plot_keywords"/>
                <entry key="15" type="xstring" value="num_user_for_reviews"/>
                <entry key="16" type="xstring" value="language"/>
                <entry key="17" type="xstring" value="country"/>
                <entry key="18" type="xstring" value="content_rating"/>
                <entry key="19" type="xstring" value="budget"/>
                <entry key="20" type="xstring" value="title_year"/>
                <entry key="21" type="xstring" value="actor_2_facebook_likes"/>
                <entry key="22" type="xstring" value="imdb_score"/>
                <entry key="23" type="xstring" value="aspect_ratio"/>
                <entry key="24" type="xstring" value="movie_facebook_likes"/>
                <entry key="25" type="xstring" value="Selected (JavaScript Table View)"/>
                <entry key="26" type="xstring" value="language (#1)"/>
                <entry key="27" type="xstring" value="languageColumnName"/>
                <entry key="28" type="xstring" value="prediction"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="false"/>
        </config>
        <config key="maxNoneNumericalVals_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxNoneNumericalVals" type="xint" value="10000"/>
        <config key="enableHilite_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableHilite" type="xboolean" value="false"/>
        <config key="sortInMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="sortInMemory" type="xboolean" value="false"/>
        <config key="aggregationColumn">
            <config key="columnNames">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="prediction"/>
            </config>
            <config key="columnTypes">
                <entry key="array-size" type="xint" value="1"/>
                <config key="0">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
            </config>
            <config key="aggregationMethod">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="Concatenate_V2.4"/>
            </config>
            <config key="inclMissingVals">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="aggregationOperatorSettings"/>
        <config key="patternAggregators"/>
        <config key="dataTypeAggregators"/>
        <config key="columnNamePolicy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="columnNamePolicy" type="xstring" value="Aggregation method (column name)"/>
        <config key="retainOrder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="retainOrder" type="xboolean" value="false"/>
        <config key="inMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="inMemory" type="xboolean" value="false"/>
        <config key="valueDelimiter_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="valueDelimiter" type="xstring" value=" "/>
        <config key="nodeVersion_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="nodeVersion" type="xint" value="1"/>
        <entry key="typeMatch" type="xbyte" value="0"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Concatenación de%%00013%%00010Valores de%%00013%%00010Codificación OneHot%%00013%%00010agrupado por Fila"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="1861"/>
        <entry key="y-coordinate" type="xint" value="439"/>
        <entry key="width" type="xint" value="118"/>
        <entry key="height" type="xint" value="60"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.groupby.GroupByNodeFactory"/>
    <entry key="node-name" type="xstring" value="GroupBy"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.0.v202211291414"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.0.v202211291442"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="GroupBy"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 5043, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="26893655-b1a6-463b-a2b2-23faa24621a6"/>
    </config>
</config>
